In [1]:
import pandas as pd 
import os
import datetime as dt

In [2]:
geoDF = pd.read_csv('./geodata.csv', index_col = 0)
geoDF.head()

,name,Location,Coordinates,Landscape,Climate,Reference,Site PI,Data Available
Site ID,,,,,,,,
1,Bermuda Island,"Bermuda Island, England","32°15’N, 64°52’W",Coast,Dwa,Steen-Larsen et al. (2015),Hans Christian Steen-Larsen,In prep.
2,Beijing,"Beijing, China","40°0’N, 116°3’E",Urban,Dwa,Wen et al. (2010),Xuhui Lee and Xuefa Wen,Yes
3,caborden,"Borden, Canada","44°9′N, 79°6′W",forest,Dfb,Santos et al. (2012),Xuhui Lee,Yes
4,Camargue,"Vaccarès lagoon, France","43°35’N, 4°28’E",Wetland,Csb,Delattre et al. (2015),Christine Vallet-Coulomb,Yes
5,Dome C,"Concordia, South Pole","75°06′S, 123°23′E",Ice Sheet,-,Casado et al (2016),Mathieu Casado,Yes

In [3]:
def date_parser(dtcode):
    stringform = str(dtcode)
    dtobj = dt.datetime.strptime(stringform, "%Y%m%d%H%M")
    return dtobj

In [4]:
geoDF.name= geoDF.name.astype(str)
geoDF.dtypes

name              object
Location          object
Coordinates       object
Landscape         object
Climate           object
Reference         object
Site PI           object
Data Available    object
dtype: object

In [5]:
isodfs = []
isopath = "./isotope-data/"
for filename in os.listdir(isopath):
    df = pd.read_csv(isopath + filename)
    if 'Delta_18O' in df.columns and 'Delta_D' in df.columns:
        df = df[df['Delta_18O'] != -9999]
        df = df[df['Delta_D'] != -9999]
        df['name'] = (filename[:-4])
        df["name"] = df['name'].astype(str)
        if(len(df.index) > 0):
            print(df.columns)
            isodfs.append(df)

Index(['TIMESTAMP', 'Latitude', 'lontitude', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Latitude', 'lontitude', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Latitude ', 'Longitude ', 'Q', 'Delta_18O',
       'Delta_18O_std', 'Delta_D', 'Delta_D_std', 'Ta', 'RH', 'P',
       'Pricipitation', 'Rn', 'U', 'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Latitude', 'lontitude', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn',
       'Wind_Speed', 'Wind_Direction', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Latitude', 'lontitude', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Q', 'Delta_18O', 'Delta_18O_std', 'Delta_D',
       'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn', 'U', 'WD',
       'TIMESTAMP_precipitation', 'Precipitation at 10min',
       'TIMESTAMP_pressure', 'pressure at 10min', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Precipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP', 'Latitude', 'lontitude', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Pricipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Precipitation', 'Rn', 'U',
       'WD', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')
Index(['TIMESTAMP_START', 'TIMESTAMP_END', 'Q', 'Delta_18O', 'Delta_18O_std',
       'Delta_D', 'Delta_D_std', 'T', 'RH', 'P', 'Preciptition', 'Rn', 'U',
       'WD', 'T_ERA5', 'RH_ERA5', 'P_ERA5', 'Preciptition_ERA5', 'Rn_ERA5',
       'U_ERA5', 'WD_ERA5', 'name'],
      dtype='object')

In [6]:
isodfs[0].head()

,TIMESTAMP,Latitude,lontitude,Q,Delta_18O,Delta_18O_std,Delta_D,Delta_D_std,T,RH,P,Pricipitation,Rn,U,WD,name
0,201405011215,5.065,-4.000,18.03,-14.56,-9999,-104.74,-9999,29.00,0.737,101.1,-9999,-9999,3.7,255.5,Ship-RARAAVIS
1,201405011230,5.018,-3.999,18.23,-14.23,-9999,-102.42,-9999,28.91,0.751,101.086,-9999,-9999,3.8,263.0,Ship-RARAAVIS
2,201405011245,4.971,-3.997,18.51,-13.91,-9999,-99.90,-9999,28.90,0.762,101.066,-9999,-9999,3.5,266.8,Ship-RARAAVIS
3,201405011300,4.923,-3.993,18.73,-13.63,-9999,-97.58,-9999,28.90,0.769,101.042,-9999,-9999,3.8,275.0,Ship-RARAAVIS
4,201405011315,4.875,-3.990,18.72,-13.45,-9999,-96.17,-9999,28.90,0.768,101.013,-9999,-9999,4.0,276.3,Ship-RARAAVIS

In [7]:
megadf = pd.concat(isodfs)
megadf.dtypes

Delta_18O                  float64
Delta_18O_std              float64
Delta_D                    float64
Delta_D_std                float64
Latitude                   float64
Latitude                   float64
Longitude                  float64
P                           object
P_ERA5                     float64
Precipitation              float64
Precipitation at 10min     float64
Preciptition               float64
Preciptition_ERA5          float64
Pricipitation              float64
Q                          float64
RH                          object
RH_ERA5                    float64
Rn                         float64
Rn_ERA5                    float64
T                          float64
TIMESTAMP                  float64
TIMESTAMP_END              float64
TIMESTAMP_START            float64
TIMESTAMP_precipitation    float64
TIMESTAMP_pressure         float64
T_ERA5                     float64
Ta                         float64
U                          float64
U_ERA5                     float64
WD                          object
WD_ERA5                    float64
Wind_Direction             float64
Wind_Speed                 float64
lontitude                  float64
name                        object
pressure at 10min          float64
dtype: object

In [8]:
megadf.to_csv('./mega.csv')

In [50]:
smallisodfs = []
isopath = "./small-isotope-data/"
for filename in os.listdir(isopath):
    df = pd.read_csv(isopath + filename)
    if 'Delta_18O' in df.columns and 'Delta_D' in df.columns:
        df = df[df['Delta_18O'] != -9999]
        df = df[df['Delta_D'] != -9999]
        name = (filename[:-4])
        df['name'] = name
        df["name"] = df['name'].astype(str)
        coords = pd.DataFrame(geoDF[geoDF['name'] == name]['Coordinates']).reindex().iloc[0,0]
        lat,lng = coords.split(', ')
        df['Latitude'] = lat
        df['Longitude'] = lng
        if 'TIMESTAMP_START' in df.columns:
            df['TIMESTAMP'] = df['TIMESTAMP_START']
        if(len(df.index) > 0):
            print(type(df))
            smallisodfs.append(df)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [10]:
len(s)

NameError: name 's' is not defined

In [11]:
bordendf = pd.read_csv('./small-isotope-data/caborden.csv', delimiter='\t')

In [12]:
bordendf['name'] = 'caborden'
coords = pd.DataFrame(geoDF[geoDF['name'] == 'caborden']['Coordinates']).reindex().iloc[0,0]
lat,lng = coords.split(', ')

In [13]:
bordendf.name = bordendf.name.astype(str)

In [14]:
bordendf.head()

,TIMESTAMP_START,TIMESTAMP_END,Q,Delta_18O,Delta_18O_std,Delta_D,Delta_D_std,T,RH,P,...,U,WD,T_ERA5,RH_ERA5,P_ERA5,Preciptition_ERA5,Rn_ERA5,U_ERA5,WD_ERA5,name
0,200905010400,200905010459,-9999.0,-9999.0,-9999,-9999.0,-9999,16.40,95.30,97.630,...,4.5805,246.35,15.98426,0.934253,96.50529,1.173124,-3.608120,5.602427,216.8862,caborden
1,200905010500,200905010559,-9999.0,-9999.0,-9999,-9999.0,-9999,17.35,94.10,97.615,...,4.1660,270.20,16.02437,0.930366,96.45525,0.464768,-1.197811,5.111681,230.7968,caborden
2,200905010600,200905010659,-9999.0,-9999.0,-9999,-9999.0,-9999,17.20,94.05,97.695,...,2.9580,308.55,16.23067,0.929792,96.51293,0.020962,-1.114031,4.836887,256.2281,caborden
3,200905010700,200905010759,-9999.0,-9999.0,-9999,-9999.0,-9999,16.35,90.65,97.770,...,3.2525,295.80,15.85245,0.929696,96.57909,0.013011,-1.371818,5.182510,273.9816,caborden
4,200905010800,200905010859,-9999.0,-9999.0,-9999,-9999.0,-9999,15.25,88.30,97.885,...,3.7270,293.45,14.84006,0.931850,96.66817,0.015902,-1.578047,5.456223,270.5747,caborden

In [16]:
geoDF.dtypes

name              object
Location          object
Coordinates       object
Landscape         object
Climate           object
Reference         object
Site PI           object
Data Available    object
dtype: object

In [49]:
smallmegadf.columns

AttributeError: 'int' object has no attribute 'columns'

In [45]:
smallmegadf.columns

Index(['Delta_18O', 'Delta_18O_std', 'Delta_D', 'Delta_D_std', 'Latitude',
       'Longitude', 'P', 'P_ERA5', 'Preciptition', 'Preciptition_ERA5',
       'Pricipitation', 'Q', 'RH', 'RH_ERA5', 'Rn', 'Rn_ERA5', 'T',
       'TIMESTAMP', 'TIMESTAMP_END', 'TIMESTAMP_START', 'T_ERA5', 'U',
       'U_ERA5', 'WD', 'WD_ERA5', 'lontitude', 'name'],
      dtype='object')

In [39]:
smallmega2 = smallmegadf.filter(['Delta_18O','Delta_D','Latitude', 'Longitude', 'TIMESTAMP']).dropna()

In [42]:
smallmega2.TIMESTAMP = smallmega2.TIMESTAMP.astype(int).astype(str)

In [44]:
smallmega2.dtypes

Delta_18O    float64
Delta_D      float64
Latitude      object
Longitude     object
TIMESTAMP     object
dtype: object

In [46]:
smallmega2

      Delta_18O  Delta_D Latitude Longitude     TIMESTAMP
0         -9.98   -73.57  32.054N  -64.430E  201208162215
1         -9.96   -74.02  32.054N  -64.430E  201208162230
2        -10.33   -76.59  32.054N  -64.430E  201208162245
3        -10.37   -76.63  32.054N  -64.430E  201208162300
4        -10.44   -76.76  32.054N  -64.430E  201208162315
...         ...      ...      ...       ...           ...
2657     -12.82   -92.33  32.054N  -64.430E  201209131430
2658     -11.89   -85.69  32.054N  -64.430E  201209131445
2659     -10.64   -77.92  32.054N  -64.430E  201209131500
2660     -12.10   -86.74  32.054N  -64.430E  201209131515
2661     -10.83   -79.08  32.054N  -64.430E  201209131530

[2236 rows x 5 columns]

In [47]:
smallmega2.to_csv('./smallmega.csv')