In [1]:
import pandas as pd 
import os
import datetime as dt

In [2]:
geoDF = pd.read_csv('./geodata.csv', index_col = 0)
geoDF.head()

,name,Location,Coordinates,Landscape,Climate,Reference,Site PI,Data Available
Site ID,,,,,,,,
1,Bermuda Island,"Bermuda Island, England","32°15’N, 64°52’W",Coast,Dwa,Steen-Larsen et al. (2015),Hans Christian Steen-Larsen,In prep.
2,Beijing,"Beijing, China","40°0’N, 116°3’E",Urban,Dwa,Wen et al. (2010),Xuhui Lee and Xuefa Wen,Yes
3,caborden,"Borden, Canada","44°9′N, 79°6′W",forest,Dfb,Santos et al. (2012),Xuhui Lee,Yes
4,Camargue,"Vaccarès lagoon, France","43°35’N, 4°28’E",Wetland,Csb,Delattre et al. (2015),Christine Vallet-Coulomb,Yes
5,Dome C,"Concordia, South Pole","75°06′S, 123°23′E",Ice Sheet,-,Casado et al (2016),Mathieu Casado,Yes

In [17]:
geoDF.name= geoDF.name.astype(str)
geoDF.dtypes

name              object
Location          object
Coordinates       object
Landscape         object
Climate           object
Reference         object
Site PI           object
Data Available    object
dtype: object

In [1]:
isodfs = []
isopath = "./isotope-data/"
for filename in os.listdir(isopath):
    df = pd.read_csv(isopath + filename, encoding = "iso-8859-1")
    if 'Delta_18O' in df.columns and 'Delta_D' in df.columns:
        df = df[df['Delta_18O'] != -9999]
        df = df[df['Delta_D'] != -9999]
        if(len(df.index) > 0):
            print(filename)
            isodfs.ap
        df.TIMESTAMP = df.TIMESTAMP.astype(int).astype(str)pend(df)

SyntaxError: invalid syntax (<ipython-input-1-2d3a6ac7155a>, line 11)

In [9]:
isodfs[0].head()

      TIMESTAMP  Delta_18O     Delta_D Latitude Longitude Landscape
0  2.013060e+11 -13.640750 -126.381000    28.3N     16.5W  Mountain
1  2.013060e+11 -15.774167 -145.946000    28.3N     16.5W  Mountain
2  2.013060e+11 -20.673000 -182.658333    28.3N     16.5W  Mountain
3  2.013060e+11 -25.917500 -223.841500    28.3N     16.5W  Mountain
4  2.013060e+11 -26.898667 -231.194333    28.3N     16.5W  Mountain

In [20]:
megadf = pd.concat(isodfs)
megadf.dtypes

Delta_18O                  float64
Delta_18O_std              float64
Delta_D                    float64
Delta_D_std                float64
Latitude                   float64
Latitude                   float64
Longitude                  float64
P                           object
P_ERA5                     float64
Precipitation              float64
Precipitation at 10min     float64
Preciptition               float64
Preciptition_ERA5          float64
Pricipitation              float64
Q                          float64
RH                          object
RH_ERA5                    float64
Rn                         float64
Rn_ERA5                    float64
T                          float64
TIMESTAMP                  float64
TIMESTAMP_END              float64
TIMESTAMP_START            float64
TIMESTAMP_precipitation    float64
TIMESTAMP_pressure         float64
T_ERA5                     float64
Ta                         float64
U                          float64
U_ERA5                     float64
WD                          object
WD_ERA5                    float64
Wind_Direction             float64
Wind_Speed                 float64
lontitude                  float64
name                        object
pressure at 10min          float64
dtype: object

In [21]:
megadf.to_csv('./mega.csv')

In [22]:
smallisodfs = []
isopath = "./small-isotope-data/"
for filename in os.listdir(isopath):
    df = pd.read_csv(isopath + filename)
    if 'Delta_18O' in df.columns and 'Delta_D' in df.columns:
        df = df[df['Delta_18O'] != -9999]
        df = df[df['Delta_D'] != -9999]
        name = (filename[:-4])
        df['name'] = name
        df["name"] = df['name'].astype(str)
        coords = pd.DataFrame(geoDF[geoDF['name'] == name]['Coordinates']).reindex().iloc[0,0]
        lat,lng = coords.split(', ')
        df['Latitude'] = lat
        df['Longitude'] = lng
        if 'TIMESTAMP_START' in df.columns:
            df['TIMESTAMP'] = df['TIMESTAMP_START']
        if(len(df.index) > 0):
            print(type(df))
            smallisodfs.append(df)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

NameError: name 's' is not defined

In [24]:
bordendf = pd.read_csv('./small-isotope-data/caborden.csv', delimiter='\t')

In [25]:
bordendf['name'] = 'caborden'
coords = pd.DataFrame(geoDF[geoDF['name'] == 'caborden']['Coordinates']).reindex().iloc[0,0]
lat,lng = coords.split(', ')

In [26]:
bordendf.name = bordendf.name.astype(str)

In [27]:
bordendf.head()

,TIMESTAMP_START,TIMESTAMP_END,Q,Delta_18O,Delta_18O_std,Delta_D,Delta_D_std,T,RH,P,...,U,WD,T_ERA5,RH_ERA5,P_ERA5,Preciptition_ERA5,Rn_ERA5,U_ERA5,WD_ERA5,name
0,200905010400,200905010459,-9999.0,-9999.0,-9999,-9999.0,-9999,16.40,95.30,97.630,...,4.5805,246.35,15.98426,0.934253,96.50529,1.173124,-3.608120,5.602427,216.8862,caborden
1,200905010500,200905010559,-9999.0,-9999.0,-9999,-9999.0,-9999,17.35,94.10,97.615,...,4.1660,270.20,16.02437,0.930366,96.45525,0.464768,-1.197811,5.111681,230.7968,caborden
2,200905010600,200905010659,-9999.0,-9999.0,-9999,-9999.0,-9999,17.20,94.05,97.695,...,2.9580,308.55,16.23067,0.929792,96.51293,0.020962,-1.114031,4.836887,256.2281,caborden
3,200905010700,200905010759,-9999.0,-9999.0,-9999,-9999.0,-9999,16.35,90.65,97.770,...,3.2525,295.80,15.85245,0.929696,96.57909,0.013011,-1.371818,5.182510,273.9816,caborden
4,200905010800,200905010859,-9999.0,-9999.0,-9999,-9999.0,-9999,15.25,88.30,97.885,...,3.7270,293.45,14.84006,0.931850,96.66817,0.015902,-1.578047,5.456223,270.5747,caborden

In [28]:
geoDF.dtypes

name              object
Location          object
Coordinates       object
Landscape         object
Climate           object
Reference         object
Site PI           object
Data Available    object
dtype: object

In [29]:
smallmegadf.columns

NameError: name 'smallmegadf' is not defined

In [30]:
smallmegadf.columns

NameError: name 'smallmegadf' is not defined

In [31]:
smallmega2 = smallmegadf.filter(['Delta_18O','Delta_D','Latitude', 'Longitude', 'TIMESTAMP']).dropna()

NameError: name 'smallmegadf' is not defined

In [32]:
smallmega2.TIMESTAMP = smallmega2.TIMESTAMP.astype(int).astype(str)

NameError: name 'smallmega2' is not defined

In [33]:
smallmega2.dtypes

NameError: name 'smallmega2' is not defined

In [34]:
smallmega2

NameError: name 'smallmega2' is not defined

In [35]:
smallmega2.to_csv('./smallmega.csv')

NameError: name 'smallmega2' is not defined

In [36]:
trinitydf = pd.read_csv('./isotope-data/AU-TrinityBeach.csv')

In [37]:
trinitydf.head()

      TIMESTAMP  Delta_18O  Delta_D Latitude Longitude Landscape
0  2.010000e+11     -12.03   -74.93   16.79S   145.70E     Coast
1  2.010000e+11     -11.99   -74.94   16.79S   145.70E     Coast
2  2.010000e+11     -11.90   -75.01   16.79S   145.70E     Coast
3  2.010000e+11     -11.87   -75.09   16.79S   145.70E     Coast
4  2.010000e+11     -11.97   -75.13   16.79S   145.70E     Coast

TIMESTAMP    float64
Delta_18O    float64
Delta_D      float64
Latitude      object
Longitude     object
Landscape     object
dtype: object